<ion-header>
  <ion-toolbar color=dark mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><img src="assets/images/FJH.png" height="40px" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="title">Create a new account</div>
  <ion-item no-margin no-padding mode="ios">
    <ion-label position="floating" color=fjh mode="ios">First name</ion-label>
    <ion-input color=light mode="ios" [(ngModel)]="user.firstname"></ion-input>
  </ion-item>
  <ion-item no-margin no-padding mode="ios">
    <ion-label position="floating" color=fjh mode="ios">Last name</ion-label>
    <ion-input color=light mode="ios" [(ngModel)]="user.lastname"></ion-input>
  </ion-item>
  <ion-item no-margin no-padding mode="ios">
    <ion-label position="floating" color=fjh mode="ios">E-mail</ion-label>
    <ion-input color=light mode="ios" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item no-margin no-padding mode="ios">
    <ion-label position="floating" color=fjh mode="ios">Password</ion-label>
    <ion-input color=light mode="ios" [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-item no-margin no-padding mode="ios">
    <ion-label position="floating" color=fjh mode="ios">Birthday</ion-label>
    <ion-datetime color=light  displayFormat="MM/DD/YYYY" mode="ios" [(ngModel)]="user.birthday"></ion-datetime>
    <!-- <ion-input color=light mode="ios" [(ngModel)]="user.birthday"></ion-input> -->
  </ion-item>
  <ion-item no-margin no-padding mode="ios">
    <ion-label position="floating" color=fjh mode="ios">Sex</ion-label>
    <!-- <ion-input color=light mode="ios" [(ngModel)]="user.sex"></ion-input> -->
    <ion-select color=light mode="ios" placeholder="Select One" [(ngModel)]="user.sex">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="lbgt">LBGT</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item no-margin no-padding mode="ios">
    <ion-label position="floating" color=fjh mode="ios">Weight</ion-label>
    <ion-input color=light mode="ios" type="number" [(ngModel)]="user.weight"></ion-input>
  </ion-item>
  <ion-item no-margin no-padding mode="ios">
    <ion-label position="floating" color=fjh mode="ios">Height</ion-label>
    <ion-input color=light mode="ios" type="number" [(ngModel)]="user.height"></ion-input>
  </ion-item>
  <br>
  <ion-button shape="round" expand="full" fill="outline" color=fjh (click)="save()">Create account</ion-button>
  <div class="create" (click)="nav()">Or need sing up to Trainer?</div>
</ion-content>