<ion-header>
  <ion-toolbar color=fjhdark>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Day {{no}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-top">
    <img src="./assets/images/food4.jpg" alt="">
  </div>
  <div style="padding: 20px; color: #fff">
    <div class="title-text">day {{no}}</div>
    <div class="detail">
      &nbsp;&nbsp;&nbsp;&nbsp;When burning fat, increasing lean muscle and getting a more toned and athletic physique is
      your goal, you’ll find the Lean Gains meal plan the perfect aid. You’ll be supplied with the right proportions of
      protein, carbs and fat to improve your body composition, whilst giving you the energy you need to fuel your
      training.
    </div>
  </div>
</ion-content>